extends layout

block content
	ul#nav
		li
			a(href="/") Home
		li
			a(href="/about-us") About us
	br
	h2 #{title}
	p The current date is: #{date}
	p.
		Our student organization educates students about popular technology through workshops, presentations, and informational lectures by professors, guest speakers, and students. We host biweekly meetings, weekly office hours, social events, and RevolutionUC, the university's student hackathon.
	p.
		ACM@UC is open to all majors and official ACM membership is not required to participate.

